@charset "utf-8";

html{
    width: 100%;
    font-size: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*------  header  ------*/
#header{
    display: flex;
    justify-content: space-between;
    padding: 8px 2%;
}
#header .header-nav{
    display: flex;
    justify-content: space-around;
}
.header-nav li{
    margin-left: 1.5rem;
}